{% extends "layout.html" %}

{% block title %}
Context
{% endblock %}

{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <meta charset="utf-8">
  <link href="/static/styles.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
<h1><b>Stem Cells and Their Potential</b></h1>
<br></br>
<table>
    <tr>
        <td><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stem cells are unspecialized cells that can
            differentiate into various different types of cells, such
            as muscle cells and white blood cells. They have tremendous potential in regenerative medicine,
            since stem cells could theoretically be used to replace the tissues of damaged organs that cannot self-heal,
            such as the brain. This would allow for the development of cures for currently untreatable conditions like
            leukemia.<br></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There are 2 main types of stem cells,
            pluripotent and totipotent. Human adults only have pluripotent
            stem cells in their bodies; these stem cells are only able to differentiate into some, not all of the
            body's cells. For example, bone marrow stem cells can only turn into red blood cells or white blood cells,
            but not muscle cells. Totipotent stem cells, on the other hand, are more valuable for research and
            can turn into any cell in the human body, but they are only found in embryos.</h4></td>
        <td><p>&nbsp;</p></td>
        <td><iframe width="560" height="315" src="https://www.youtube.com/embed/jF2iXpoG5j8" frameborder="0" allow=
                "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
    </tr>
</table>
<br></br>

<h1><b>Challenges Surrounding Stem Cells</b></h1>
<br></br>
<h4 style="text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Both pluripotent and totipotent cells come with their risks and
    limitations. Due to the limits of their differentiating ability, specific pluripotent stem cells are required to
    regenerate particular cells, such as neurons, and these stem cells are often dangerous and difficult to extract due
    to their location in organs like the brain. On the other hand, extracting totipotent cells would mean stopping an
    embryo's normal development, which some find controversial and comparable to taking a potential life. The ethical
    debates surrounding these stem cells, while healthy for democracy, have led
    to the rise of restrictive legislation in some areas of the United States, slowing scientific progress in
    stem cell therapies.</h4>

<br></br>

<div class="container">
	<div class="row">
	    <div class="container">
            <blockquote class="quote-card green-card">
            <h3>
              Now science has presented us with a hope called stem cell research, which may provide our scientists with many answers that have for so long been beyond our grasp.
            </h3>

            <h4>
              Nancy Reagan, former First Lady of the United States
            </h4>
          </blockquote>

            <blockquote class="quote-card blue-card">
              <h3>
               There are many alternatives to embryonic stem cell research, alternatives with great potential. We need to support these and oppose creating life for the sole purpose of destroying it.
             </h3>

             <h4>
              Ernest Istook, former United States Representative
            </h4>
          </blockquote>
        </div>
	</div>
</div>
<br></br>
<h1><b>Potential Solution: Induced Stem Cells</b></h1>
<br></br>
<h4 style="text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A potential solution to these challenges is to modify the genes of
    normal adult cells to turn them into stem cells. These "induced" stem cells, which could be totipotent or
    pluripotent, would allow scientists to circumvent the challenges associated with natural stem cells. Scientists can
    essentially change how active a gene is, or in other words, whether a gene is on or off, to make normal cells
    exhibit stem cell properties. While some induced stem cells have been created in the past, many scientists continue
    to look for new induced stem cell lines that are more stable and differentiable, as these cells could be valuable
    for both research and therapeutic purposes.
    <br></br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;However, it is difficult to reliably predict how changing a
    combination of closely connected genes could impact the cell as a whole. Many genes related to cellular self-renewal,
    growth, and differentiation may be correlated to stem cell activity. In this case, a computational model that
    predicts whether a combination of genes is likely to be a stem cell based on the genetic data of known stem cells
    would be highly beneficial for the scientific community. Such a model would allow researchers to screen particular
    combinations of genes for stem cell potential before investing further time and effort into genetically modifying a
    cell.</h4>

<br></br>

<h3>To learn more about stem cells, feel free to click the links below to scholarly publications:</h3>
    <h4><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4633996/?fbclid=IwAR3Ty_EZV2xyc5WzOb030Kv8eHxHN1pk3920ugbRZRhwPjP9XERqKYCtGjg">Present and Future Challenges of Induced Pluripotent Stem Cells</a></h4>
    <h4><a href="https://www.sciencedirect.com/science/article/pii/S1873506112000888?via%3Dihub&fbclid=IwAR1ckAcTIE0g0m4pnQlH8Emw6lP2IO7-S2yRG2BGEvITmMNWXegFRR50Ti8">The Human Pluripotent Stem Cell Database at the National Institutes of Health</a></h4>
    <h4><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4919381/">Detailed Characterization of Human Induced Pluripotent Stem Cells Manufactured for Therapeutic Applications</a></h4>
    <h4><a href="https://www.ncbi.nlm.nih.gov/pubmed/29441649">Assessing the Genome Integrity of Human Induced Pluripotent Stem Cells</a></h4>
    <h4><a href="https://journals.plos.org/plosone/article/file?type=supplementary&id=info:doi/10.1371/journal.pone.0053372.s003">Table of 250 Stem Cell Marker Genes</a></h4>
</body>

</html>
{% endblock %}