<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <title>SCSeeker: {% block title %}{% endblock %}</title>

    </head>

    <body>
        <div style="position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; z-index: -99; background-size: cover">
          <video autoplay muted loop>
              <source src="static/backgroundvid.mp4" type="video/mp4">
          </video>
        </div>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"<span class="black">SCSeeker</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a class="nav-link" href="/context">Context</a></li>
                        <li class="nav-item"><a class="nav-link" href="/methodology">Methodology</a></li>
                        <li class="nav-item"><a class="nav-link" href="/demonstration">Demonstration</a></li>
                        <li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a></li>
              </ul>
            </div>
        </nav>

        <main class="container p-5">
            {% block main %}{% endblock %}
            <footer class="container-fluid text-center" font-style="Optima">
                <h4>Cell genetic data retrieved from <a href="https://stemcelldb.nih.gov/home.do" title="Visit https://stemcelldb.nih.gov/home.do">StemCellDB</a>, an open-source database created by the National Institutes of Health.</h4>
            </footer>
        </main>

    </body>

</html>
